.sidebar {
    position: inherit;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    background-color:  rgb(71, 71, 71);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    justify-content:space-around;
  }
  
  
  .link {
    color: white;
    font-size: 18px;
    line-height: 17px;
    text-transform: capitalize;
    text-decoration-line: none;
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (max-width: 690px) {
    .menu{
      display: flex;
      flex-direction: column;
    }
    .link {
      margin-top: 20px;
      line-height: 27px;
    }
  } 
  
  .link:hover {
    color: rgb(171, 234, 146);
  }
  
  .link.active {
    color: violet;
  }
  
  
 