
  

.footer {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 24px;
    background-color:  rgb(71, 71, 71);
  }
  
  .logo {
    width: 40px;
  }
  
  .logo a {
    height: 100%;
  }
  
  .rights {
    color: rgb(245, 241, 241);
    font-size: 20px;
    line-height: 25px;
    margin: 0px 25px 0px 25px;
  }
  @media (max-width: 500px) {
    .rights{
      font-size: 15px;
      color: aqua;
    }
  } 
  
   
  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* width: 150px */
  }
  
  .socials img {
    width: 34px;
    height: 34px;
  }
  
  .wrapLogo{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .icon{
    width: 34px;
    height: 34px;
  }