.sidebar {
   
    min-width: 190px;
    padding: 2%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color:  rgb(71, 71, 71);
    /* margin-top: 150px; */
  }
  
  .title {
    font-weight: 600;
    line-height: 20px;
  }
  
  .menu {
     /* margin-top: 13%; */
     /* width: 100%; */
    position: fixed;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  .link {
    width: 100%;
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-transform: capitalize;
    text-decoration-line: none
  }
  
  .link:hover {
    color: rgb(171, 234, 146);
  }
  
  .link.active {
    color: violet;
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  .test{
    width: 50px;
    height: 50px;
    background-color: brown;
  }